name: pog4_et_sweep
method: bayes
metric:
  name: RMSE
  goal: minimize
parameters:
  n_estimators:
    min: 100
    max: 2000
  max_depth:
    min: 1
    max: 15
  min_samples_split:
    min: 2
    max: 10
  min_samples_leaf:
    min: 1
    max: 10
  scaler:
    values: [minmax, robust]
  imputer:
    values: [mean, median, most_frequent]
  bootstrap:
    values: [True, False]