name: pog4_xgb_sweep
method: bayes
metric:
  name: RMSE
  goal: minimize
parameters:
  learning_rate:
    min: 0.001
    max: 0.5
  max_depth:
    min: 2
    max: 12
  n_estimators:
    min: 100
    max: 2000
  subsample:
    min: 0.25
    max: 1.0
  colsample_bytree:
    min: 0.25
    max: 1.0