name: pog4_xgb_classifier_sweep
method: bayes
metric:
  name: AUC
  goal: maximize
parameters:
  learning_rate:
    min: 0.0001
    max: 0.2
  max_depth:
    min: 2
    max: 12
  n_estimators:
    min: 100
    max: 2000
  subsample:
    min: 0.25
    max: 1.0
  colsample_bytree:
    min: 0.25
    max: 1.0
  scaler:
    values: [none, standard, minmax, robust]
  imputer:
    values: [none, mean, median, most_frequent]